<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<array>
		<string></string>
	</array>
	<array>
		<string>选择一个设备或宠物</string>
		<string>消息通知</string>
		<string>分享</string>
		<string>关于</string>
	</array>
</array>
</plist>
